---
layout: default
title: category
---

{% for post in site.posts %}
  {% assign category = post.category | join:'|' | append:'|' %}
  {% assign allcategories = allcategories | append:category %}
{% endfor %}  

{% assign allcategories = allcategories | split:'|' | sort %}
{% assign categories = "" %}
{% for category in allcategories %}
  {% if category != "" %}
    {% if categories == "" %}
      {% assign categories = category | split:'|' %}
    {% endif %} 
    {% unless categories contains category %}
      {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
    {% endunless %} 
  {% endif %}
{% endfor %}  

<style type="text/css">
  
.post-link,
.post a,
.page a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 150;
}
.post-item 
  a {
    color: #264d9c;
    font-weight: 100;
  }
</style>


<section class="post-list">
  <div class="container">
    {% for category in categories %}
     <h2 class="category-title">{{ category }}</h2>
        {% for post in site.posts %}
              {% if post.category contains category %}
              <article class="post-item">
                  <span class="post-meta date-label">{{ post.date | date: "%b %d %Y" }}</span>
                  <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
                        <div class="post-list-desc">{{ post.description }}</div>
              </article>
                {% endif %}
          {% endfor %}
    {% endfor %}
  </div>


</section>

