---
layout: default
title: Home
---
<style type="text/css">
  
.post-link,
.post a,
.page a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 150;
}
.post-item 
  a {
    color: #264d9c;
    font-weight: 100;
  }

</style>



<!-一些关于标签的代码->
<!-- {% assign rawtags = "" %}
{% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %} -->
{% for post in site.posts %}
	{% assign category = post.category | join:'|' | append:'|' %}
	{% assign allcategories = allcategories | append:category %}
{% endfor %}	

{% assign allcategories = allcategories | split:'|' | sort %}
{% assign categories = "" %}
{% for category in allcategories %}
	{% if category != "" %}
		{% if categories == "" %}
			{% assign categories = category | split:'|' %}
		{% endif %}	
		{% unless categories contains category %}
			{% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
		{% endunless %}	
	{% endif %}
{% endfor %}	

<!-定义标签云的框架->
{% if categories %}
<div class="tag-cloud" id="Tags">

  {% for category in categories %}
    <a id="{{ tag | slugify }}" class="tag-anchor" href=""><i class="fa fa-space-shuttle" aria-hidden="true"></i> {{ category }}</a>
  {% endfor %}
</div>
{% endif %}

