{% if site.comments %}
<aside id="comments" class="disqus">
 <div class="container">
	<div id="gitmentContainer"></div>
		<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
		<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
		<script>
		var gitment = new Gitment({
			  id: '',
		      owner: 'Alvinsjq',
			  repo: 'Alvinsjq.github.io',
			  oauth: {
			    client_id: '5aa067c1037dff5afff5',
			    client_secret: '6c2b8b533c805bfc1510fc2857d677451be165c5',
			  },
		});
		gitment.render('gitmentContainer');
		</script>
	</div>
 </aside>
{% endif %}