



/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/* 
   Page
   ========================================================================== */

$feature-image-height            : 400px; // min 150px recommended
$front-page-feature-image-height : 400px; // min 150px recommended

/* 
   Typography
   ========================================================================== */

$base-font                       : 'Lato', Calibri, Arial, sans-serif;
$heading-font                    : $base-font;
$caption-font                    : $base-font;
$code-font                       : monospace;
$alt-font                        : serif;

$doc-font-size                   : 16;
$doc-line-height                 : 26;




/* 
   Colors
   ========================================================================== */

$base-color                      : rgba(#222,0.8);
$body-color                      : #e8e8e8;
$text-color                      : rgba(#222,0.8);
$comp-color                      : complement(#222);
$border-color                    : lighten($base-color,60);
$link-color                      : rgba(#222,0.8);

$primary                         : #222;
$success                         : #5cb85c;
$warning                         : #dd8338;
$danger                          : #C64537;
$info                            : #308cbc;


/* 
   Screen sizes
   ========================================================================== */

$small                           : "only screen and (min-width: 30em)";
$medium                          : "only screen and (min-width: 48em)";
$large                           : "only screen and (min-width: 62.5em)";




// Typography
$base-font-family: 'Inconsolata', monospace;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .52em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$primary-color: #000;
$action-color: $primary-color;
$white-color: #fff;
$black-color: #000;
$blue-color: #0086B3;
$dark-gray-color: #333;
$medium-gray-color: #999;
$light-gray-color: #ccc;

// Font Colors
$base-font-color: rgba($dark-gray-color, .8);

// Border
$base-border-color: $light-gray-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white-color;
$secondary-background-color: tint($base-border-color, 80%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

